name: Python Run Continuous

on:
  schedule:
    - cron: '*/5 * * * *' # يحاول التشغيل كل 5 دقائق
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # منع تشغيل أكثر من نسخة في نفس الوقت لتجنب الحظر
    concurrency:
      group: production
      cancel-in-progress: true 

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Libraries
        run: pip install telethon
      - name: Run Script
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
        run: python main.py

